{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block content %}

<h1>Form values</h1>

{% if name is defined %}
  <p>Name: {{ name }} </p>
{% endif %}

<div>
  <form name="input" action="" method="post">
    
    Name:
    <input type="text" name="name" />  
    
    <input type="submit" name="submit" value="Submit">

  </form>
</div>

{% endblock %}
